<div class='flex items-center'>
  <div class='shrink'>
    <div
      class='h-12 w-12 flex justify-center items-center rounded border-4 border-blue-900 text-3xl'
      data-test-activity-overview-icon
    >
      {{this.icon}}
    </div>
  </div>
  <div class='grow p-4'>
    {{#if @hours}}
      <ForecastBar @hours={{@hours}} @verb={{@verb}} />
    {{else}}
      <div
        class='p-2 w-full bg-gray-100 text-gray-600 dark:bg-gray-700 dark:text-gray-400 text-center'
        data-test-activity-overview-empty
      >
        No hours available
      </div>
    {{/if}}
  </div>
</div>
{{yield}}