{{#if this.hours}}
  <Lineal::Fluid class='w-full h-content relative pb-16' as |width|>
    <svg class='w-full' height={{add (mult 25 this.hourHeight) 100}}>
      {{#let
        (scale-linear domain=(array this.pad 105) range=(array 0 width))
        (scale-time
          range=(array this.pad (add this.pad (mult 25 this.hourHeight)))
        )
        (scale-linear domain=(array this.pad 105) range=(array 0 width))
        (scale-ordinal
          range=(array
            'fill-green-500 dark:fill-green-400'
            'fill-green-300 dark:fill-green-600'
            'fill-gray-200 dark:fill-gray-700'
          )
          domain=(array 0 1 2)
        )
        as |xScale yScale heightScale colors|
      }}
        {{#if (and xScale.isValid yScale.isValid)}}
          {{#let (add (scale-fn-compute xScale 50) this.pad) as |baseX|}}
            <g id='dayInfo' class='text-gray-300 dark:text-amber-600'>
              {{#each this.dayInfo as |tick|}}
                <rect
                  width={{scale-fn-compute xScale 100}}
                  height='20'
                  x={{this.pad}}
                  y={{scale-fn-compute yScale tick.time}}
                  fill='currentColor'
                />
                <line
                  x1={{baseX}}
                  y1={{scale-fn-compute yScale tick.time}}
                  x2={{add baseX this.dayInfoSpace}}
                  y2={{scale-fn-compute yScale tick.time}}
                  stroke='currentColor'
                />

                <text
                  fill='currentColor'
                  x={{baseX}}
                  dx={{this.dayInfoSpace}}
                  y={{scale-fn-compute yScale tick.time}}
                  dy={{0}}
                  {{!-- dy={{0}} --}}
                  text-anchor='start'
                >{{tick.label}}</text>

              {{/each}}
            </g>
            <g
              class='opacity-25 fill-magenta-200'
              {{interactor-cartesian-horizontal}}
            >

            </g>
          {{/let}}
          <g id='hours' {{on 'mouseleave' (fn this.highlightHour '')}}>
            {{#each this.hours as |hour|}}
              <rect
                role='button'
                width={{scale-fn-compute xScale 30}}
                height={{this.hourHeight}}
                x={{this.pad}}
                y={{scale-fn-compute yScale hour.startTime}}
                class='stroke-2
                  {{scale-fn-compute colors hour.score}}
                  {{if
                    (eq hour.startTime this.highlighted.startTime)
                    "stroke-black"
                  }}'
                {{on 'mouseenter' (fn this.highlightHour hour)}}
                {{on 'click' (fn (mut this.sticky) (not this.sticky))}}
              />
            {{/each}}
          </g>
          <Lineal::Axis
            @scale={{yScale}}
            @orientation='right'
            fill='transparent'
            transform='translate({{add
              this.pad
              (scale-fn-compute xScale 30)
            }}, 0)'
            class='text-gray-800 dark:text-gray-100 text-xs'
          />
        {{/if}}
        {{! This is just here to qualify the scales }}
        <Lineal::Line
          @data={{this.hours}}
          @x='score'
          @y='startTime'
          @xScale={{xScale}}
          @yScale={{yScale}}
          fill='transparent'
          stroke='transparent'
        />
      {{/let}}
    </svg>
    <div
      class='absolute top-5 right-0 w-3/5 bg-white text-black drop-shadow p-2'
    >
      {{#if this.highlighted}}
        <h2 class='font-bold text-center'>{{this.highlighted.title}}</h2>
        <p
          class='italic text-slate-500 text-center text-sm'
        >{{this.highlighted.verdict}}
          {{@verb}}
          in
          {{@loc}}</p>
        <p>{{this.highlighted.conditions}}</p>
        <p>[ gear list ]</p>
        <div
          class='w-full h-32 bg-slate-700 text-center text-slate-500 font-bold'
        >Suggested gear</div>
      {{else}}
        <h2 class='text-center'>Choose a time to see details</h2>
      {{/if}}
    </div>
  </Lineal::Fluid>
{{else}}
  [ empty state ]
{{/if}}