<h1 class='text-3xl' data-test-where-to-title>When to
  <LinkTo
    class='font-bold hover:underline'
    @route='where.activity.choose'
    @model={{@location.id}}
    disabled={{not @location}}
    data-test-activity-link
  >
    {{or @verb '__________'}}
  </LinkTo><br />
  in
  <LinkTo
    class='font-bold hover:underline'
    @route='where.choose'
    disabled={{not @location}}
    data-test-where-link
  >
    {{or @location.name '__________'}}
  </LinkTo>
</h1>