{{page-title 'Detail'}}

<Portal @target='onboard-title'>
  <WhereToTitle
    @zipcode={{this.model.data.location.ref}}
    @verb={{this.model.data.verb}}
  />
</Portal>

<div class='flex items-center justify-around'>
  ⬅️
  <h2 class='text-2xl font-bold text-center'>{{this.model.when}}</h2>
  ➡️
</div>

<ForecastDetail
  @verb={{this.model.data.verb}}
  @loc={{this.model.data.location.ref}}
  @forecast={{this.model.data.forecast}}
  @sunrise={{this.model.data.location.sunrise}}
  @sunset={{this.model.data.location.sunset}}
/>