{{page-title 'Detail'}}

<Portal @target='onboard-title'>
  <WhereToTitle
    @location={{this.model.location}}
    @verb={{this.model.verb}}
  />
</Portal>

<DateScroller @maxDay={{this.maxDates}} @param={{this.when}} />

<div class='mx-auto max-w-md'>
  <ForecastDetail
    @verb={{this.model.verb}}
    @location={{this.model.location}}
    @forecast={{this.filteredHours}}
    {{!-- @sunrise={{this.model.data.location.sunrise}}
    @sunset={{this.model.data.location.sunset}} --}}
  />
</div>