{{page-title 'Detail'}}

<Portal @target='onboard-title'>
  <WhereToTitle
    @location={{this.model.location}}
    @verb={{this.model.data.verb}}
  />
</Portal>

<DateScroller @maxDay={{this.model.maxDay}} @param={{this.model.dayParam}} />

<div class='mx-auto max-w-md'>
  <ForecastDetail
    @verb={{this.model.data.verb}}
    @location={{this.model.location}}
    @forecast={{this.model.data.forecast}}
    @sunrise={{this.model.data.location.sunrise}}
    @sunset={{this.model.data.location.sunset}}
  />
</div>